$MQ_ZERO: 420px;
$MQ_MOBILE: 768px;
$MQ_TABLET: 1024px;
$MQ_LAPTOP: 1440px;
$MQ_DESKTOP: 1920px;

$CONTAINER_WIDTH: 121.8rem;
$GRID_GAP: 2rem;

$COLOR_BEIGE: #efebe9;
$COLOR_BLUE: #1e88e5;
$COLOR_BLACK: #37474f;
$COLOR_GRAY: #90a4ae;
$COLOR_WHITE: #fff;
